* {

}




/* ---- Computer/PC/Laptop ---- */
body {
  background-color: rgb(218, 247, 237);
}

footer {
  height: 50px;
  background-color:rgb(196, 221, 212);
  text-align: center;
  padding-top: 25px;
  margin-top: 25px;
}

/* ----- mobile ------ */
@media (max-width: 894px){
  body{background:rgb(217, 184, 248)}
  footer{background:rgb(177, 150, 202)}
}

@media (min-width: 600px){
  body{background: rgb(218, 255, 215)}
  footer{background:rgb(170, 204, 168)}
}
