
h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
}

section {
  display:flex;
  flex-flow:wrap;
  justify-content: start;
}

div {
  width:200px;
  text-align: center;
}

