
h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
}

.photoTemplate {
  height: 120px;
  width: 300px;
}

img {
  height: 250px;
  width: 250px;
}

div {
  display:flex;
  
}